.assignments{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
     margin-bottom: 2rem;
}
.assignment-item{
    
   display: flex;
   flex-direction: column;
   border-radius: 25px;
   margin-top: 100px;
   margin-right: 10px;
   padding-right: 50px;
   margin-left: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(55, 67, 236, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(217, 205, 205, 0.18);
  position: relative;
  width: 500px;
 
 
}
.assignment-item:hover{
  background: rgba(249, 249, 246, 0.25);
  box-shadow: 0px 0px 32px 10px rgba(241, 203, 13, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
 
}
.Assignment_head{
    position: absolute;
    margin-top: 0px;
    padding-left: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: beige;
   
    font-size: 30px;
}
.assignment_tilte{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 0rem;
    margin-top: 1rem;
    margin-right: 100px;
    margin-left: 50px;
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.assignment_sts{
    padding-left: 0px;
    padding-top: -5px;
    margin-left: 50px;
    width: 200px;
    height: 20px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
   text-transform: uppercase;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(55, 67, 236, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(217, 205, 205, 0.18);
}
.assignment_sts:hover{
    background-image: linear-gradient(to right, rgba(244, 139, 139, 0.941), rgb(170, 5, 247));
    color: white;
    
}

.Assignment_button{
    text-decoration: none;
    background-color: rgb(240, 130, 240);
    border: none;
    width: 200px;
    margin-left: 50px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
     background: rgba(255, 255, 255, 0.25);
     box-shadow: 0 8px 32px 0 rgba(55, 67, 236, 0.37);
     backdrop-filter: blur(4px);
     -webkit-backdrop-filter: blur(4px);
     border: 1px solid rgba(217, 205, 205, 0.18);

}
.Assignment_button:hover{
    background-image: linear-gradient(to right, rgba(244, 139, 139, 0.941), rgb(170, 5, 247));
    color: white;
}

@media (max-width: 768px) {
    .assignments{
        display: flex;
      flex-direction: column; 
     
      width: 100%;
    }
    .assignment-item {
      margin-top: 60px;
      width: 80%;
     
    }
    
    .assignment_sts {
      width: 200px; 
    }
    
    .Assignment_button {
        width: 200px;
      
    }
    .Assignment_head{
        margin-left: 0px;

    }
  }